# {{ schema.name }} {% if schema.deprecated %} <span style="color: red;"><strong> (DEPRECATED) </strong></span> {% endif %}

![JGI Logo](../jgi_logo.png)

**Joint Genome Institute - Plant Tissue Metadata Schema**

{{ schema.description }}

URI: {{ schema.id }}
